*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url('../img/bg.jpg');
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header{
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    grid-area: main;
    width: 100%;

}
footer{
    grid-area: footer;
    width: 100%;
    padding-bottom: 2rem;
    color: #8A1538;
}
header img{
    height: 80%;
    width: 100%;
}
#email{
    padding: 0.5rem;
}
#email input{
    width: auto;
    border: 2px solid 	#8A1538;
}
#password{
    padding: 0.5rem;
}
#password input{
    width: auto;
    border: 2px solid 	#8A1538;

}

#buttom input{
    padding: 0.3rem 2rem;
    color: white;
    background-color: 	#8A1538;
    border: 1px solid white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    padding: 2rem;
}

@media screen and (min-width: 600px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "header main main"
        "main main main"
        "footer footer footer";
    }


}