* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Maroon: #8A1538;
}

.container {
  background-image: url('./img/background.jpg');
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header"
      "main"
      "footer";
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px; /* Adjust the height as needed */
  width: 100%;
  margin-bottom: 2rem;
}

header img {
  width: 50%;
  height: auto;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  width: 100%;
  margin-top: 5%;
  padding-bottom: 5%;
}

footer {
  grid-area: footer;
  height: 30px;
  font-size: 1.2rem;
  color: white;
  background-color: var(--Maroon);
}

#email {
  padding: 1rem;
}

#email label {
  padding: 0.5rem;
  font-size: 1.2rem;
}

#email input {
  width: 70%;
  height: 40px;
  border: none;
  box-shadow: 2px 2px 30px 5px var(--Maroon);
  padding-top: 0.2rem;
  border-radius: 5px;
}

#email div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

#password {
  padding: 1rem;
}

#password label {
  padding: 0.5rem;
  font-size: 1.2rem;
}

#password div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

#password input {
  width: 70%;
  height: 40px;
  border: none;
  box-shadow: 0px 0px 30px 5px var(--Maroon);
  padding-top: 0.2rem;
  border-radius: 5px;
}

#buttom {
  padding: 1rem;
}

#buttom input {
  padding: 0.4rem 2rem;
  color: white;
  background-color: var(--Maroon);
  border: 1px solid white;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding: 2rem;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

form div label {
  align-items: center;
}

form input {
  padding: 10px;
}

@media screen and (min-width: 767px) {
  .container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
          "header header header"
          "main main main"
          "footer footer footer";
  }

  #email input {
      width: 90%;
  }

  #password input {
      width: 90%;
  }

  header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  header img {
      height: auto;
      width: 30%;
      max-width: 400px;
  }

  form {
      background-color: var(--Maroon);
      margin: 0% 5%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px 5px rgb(0, 0, 0);
  }

  form label {
      color: whitesmoke;
  }

  #buttom input {
      border-radius: 25px;
      border: 2.5px solid white;
  }

  #email div {
      color: rgb(255, 255, 255);
  }

  #password div {
      color: whitesmoke;
  }

  main {
      margin-top: 2%;
  }
}
